@import url("sitewide.css");

h2 {
  font-size: 2.5vw;
  background-color: black;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-size: 1.5vw;
  margin-left: 2vw;
  margin-right: 2vw;
}

.about {
  padding-top: 2vw;
  padding-bottom: 1vw;
  margin-bottom: 1vw;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.about a {
  text-decoration: underline;
}

img.about {
  object-fit: contain;
  max-height: 35vw;
  max-width: 100%;
  padding: 2vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
}

.caption {
  margin-top: 0;
  font-size: 1vw;
  margin-left: 2vw;
  margin-bottom: 2vw;
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 5vw;
    background-color: black;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    font-size: 3.5vw;
    margin-left: 3vw;
    margin-right: 3vw;
  }

  .about {
    padding-top: 2vw;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
    background-color: black;
  }

  img.about {
    padding: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    display: block;
    object-fit: contain;
    max-height: none;
    border: none;
  }

  .caption {
    align-self: center;
    margin-top: 0;
    font-size: 3vw;
    margin-left: 3vw;
    margin-bottom: 2vw;
  }
}
