@font-face {
  font-family: 'Archivo', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap')
  font-weight: normal;
  font-style: normal;
}

@keyframes linkhover {
  from {color: inherit;}
  to {color: gray;}
}

.header {
  padding: 10vw;
  background-image: url(../images/bonneville.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Archivo', sans-serif;
}

body {
  font-family: 'Archivo', sans-serif;
  color: white;
}

h1 {
  color: white;
  background-color: black;
  font-size: 5vw;
  text-align: left;
  padding: 2.5vw;
  display: inline;
}

h2 {
  font-size: 2.5vw;
  background-color: black;
  margin-right: 2vw;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  color: inherit;
  margin-left: 2vw;
  margin-right: 2vw;
}

.contact {
  padding: 2vw;
  background-color: black;
}

nav ul {
  font-size: 1.5vw;
  margin-top: 0;
  padding: 1vw;
  background-color: black;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  animation-name: linkhover;
  animation-duration: 0.25s;
  color: gray;
}

.container {
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: row;
}

.main {
  padding-right: 1vw;
  flex: 2 1 auto;
}

.sidebar {
  padding: 1vw;
  flex: 1 0 10vw;
  background-color: black;
  flex-wrap: nowrap;
}

.tags {
  max-height: 25vw;
  overflow: scroll;
  line-height: 1.5;
}

ol.tags {
  list-style-type: none;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.archives {
  max-height: 25vw;
  overflow: scroll;
  line-height: 1.5;
}

ol.archives {
  list-style-type: none;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.languages {
line-height: 1.5;
}

ul.languages {
  list-style-type: none;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
