@import url("sitewide.css");

h2 {
  font-size: 2.5vw;
  background-color: black;
  margin-right: 2vw;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  color: inherit;
  padding-left: 0;
  margin-left: 0;
  margin-right: 2vw;
}

.contact {
  padding: 3vw;
  background-color: black;
  margin-bottom: 2vw;
}

.contact a {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 5vw;
    background-color: black;
    margin-right: 2vw;
    margin-top: 0;
    margin-bottom: 2vw;
  }

  p {
    color: inherit;
    margin-left: 0;
    margin-right: 2vw;
  }

  .contact {
    padding: 3vw;
    background-color: black;
    margin-bottom: 2vw;
  }
}
