@import url("sitewide.css");

h2 {
  font-size: 2.5vw;
  background-color: black;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-size: 1.5vw;
  margin-left: 2vw;
  margin-right: 2vw;
  line-height: 1.5;
  text-align: justify;
}

.blogpost {
  padding-top: 2vw;
  padding-bottom: 1vw;
  margin-bottom: 1vw;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.blogpost a {
  text-decoration: underline;
}

img.blogpost {
  object-fit: contain;
  max-height: 35vw;
  max-width: 100%;
  padding: 2vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
}

.caption {
  margin-top: 0;
  font-size: 1vw;
  margin-left: 2vw;
  margin-bottom: 0;
  align-self: center;
  text-transform: uppercase;
}

.filedunder {
  padding-left: 0;
  margin-left: 2vw;
  margin-right: 2vw;
  display: flex;
  flex-direction: row;
  font-size: 1.5vw;
}

.filedunder p {
  margin: 1vw;
  flex: 1 1 auto;
  align-self: center;
}

ol.tagbox {
  flex: 20 1 auto;

  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.pubdatebox {
  margin-left: 1vw;
  font-size: 1vw;
}

.pubdate {
  margin-top: 0;
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 5vw;
    background-color: black;
    padding: 3vw;
    margin-left: 0;
    margin-right: 0;
    padding-top: 2vw;
    padding-bottom: 4vw;
  }

  p {
    font-size: 3.5vw;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 0;
    margin-bottom: 2vw;
    line-height: 1.5;
    text-align: justify;
  }

  .blogpost {
    padding-top: 2vw;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
    background-color: black;
    display: flex;
    flex-direction: column;
  }

  img.blogpost {
    object-fit: contain;
    max-height: none;
    display: block;
    padding: 3vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
  }

  .caption {
    margin-top: 0;
    font-size: 3vw;
    margin-left: 2vw;
    margin-bottom: 2vw;
    text-transform: uppercase;
  }

  .filedunder {
    padding: 0;
    margin-top: 1vw;
    margin-left: 3vw;
    margin-right: 3vw;
    display: block;
    font-size: 3vw;
  }

  .filedunder p {
    font-size: inherit;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 0;
  }

  ol.tagbox {
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  ol.tagbox a {
    text-decoration: underline;
  }

  .pubdatebox {
    margin-left: 0;
    font-size: 3vw;
  }

  .pubdate {
    margin-top: 0;
    margin-bottom: 2vw;
  }
}
